/* 600PX- (MOBILE FIRST) */
/* WEBSITE BEHAVIOR */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    
}

/* CSS GRID */
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #232222;
    padding: 10px;
  }
  
.grid-container > header, .grid-container > nav, .grid-container > main, .grid-container > section, .grid-container > footer  {
    background-color: #688ff4;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }
  .item4 { grid-area: right; }
  .item5 { grid-area: footer; }


  /* NAV BAR */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0.3rem;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: rgb(237, 229, 229);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a.icon {
    background-color: black;
}

.topnav a.icon:hover {
    background-color: #252222
}

.topnav a:hover {
    background-color: #f0a3c6;
    color: rgb(255, 255, 255);
}

.active {
    background-color: #f7adce;
    color: rgb(255, 255, 255);
    text-align: left;
}

/* MAIN */
.item1 h2 {
    text-align: left;
    font-size: 1rem;
    width: 60%;
    display: inline-block;
    position: relative;
}

.item3 p {
     text-align: left;
     font-size: 1.3rem;
     margin: 1.5rem;
     margin-bottom: 10rem;
}

.item3 h2 {
    font-weight: 1000;
}

.item3 h3 {
    font-size: 1.3rem;
    font-weight: bolder
}

.item3 h4 {
    font-size: 1rem;
}

.item3 p {
    font-size: 1rem;
}

li {
    list-style-type: none;
    font-family: 'Anton', sans-serif;
}

#fleche {
    display: inline-block;
    padding: 0.5rem;
    color: #01161e;
    position: fixed;
    top: 94%;
    right: 3%;
    font-size: 1.5rem;
}

.grid-container > .item3 {
    background-color: #08c7f7;
}

.grid-container > .item4 {
    background-color: #03e9f8;
}

.grid-container > .item2 {
    background-color: #c49bdf;
}

.grid-container > .item1 {
    background-color: #ffde17;
}

/* 600PX+ (TABLET) */
@media screen and (min-width:600px) {}


/* 900PX+ (TABLET SIDEWAYS) */
@media screen and (min-width:900px) {}

/* 1200PX+ (COMPUTERS) */
@media screen and (min-width:1200px) {}